<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69220973237-hkltjs6ngdc4jvi31v2tddgpc4s1nqfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69220973237-hkltjs6ngdc4jvi31v2tddgpc4s1nqfo</string>
	<key>API_KEY</key>
	<string>AIzaSyD9QYbhdjc6GK45A1q3ybh_CyVQycMCU4c</string>
	<key>GCM_SENDER_ID</key>
	<string>69220973237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceUser</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-e978e</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-e978e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69220973237:ios:83c6f67a155d98708d9cfc</string>
</dict>
</plist>